@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--branco: #fff;
	--cinza: #efefef;

	--primary-color: #262835;
	--secondary-color: #ff5473;
}
