:host{
   .poke-types{
      margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      
      button{
         padding: 8px;
      }

      button.active{
         background-color: var(--secondary-color);
         color: var(--branco);
      }
   }
}